@model IEnumerable<GVB.Models.Feedlot>

@{
    ViewBag.Title = "ChooseFeedlot";
}

<h1>Choose Feedlot</h1>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    @foreach (var item in Model)
    {
        <div class="row">
            <br />
                @Html.ActionLink(">>","Create", "Deceased", new { feedlotID = item.feedlotID, feedlotName = item.fName }, new { @class = "btn btn-info btn-large" }) 
                @Html.DisplayFor(modelItem => item.fName)
            <br />
        </div>
    }
</div>
