@model IEnumerable<GVB.Models.Deceased>

@{
    ViewBag.Title = "Clear Deceased Cattle Data";
}

<h2>Clear Deceased Cattle Data</h2>

<h4>This action can not be undone. Once you clear the Deceased Cattle Table the data will be lost. 
    Make sure you have already exported all the data to an excel spreadsheet.</h4>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="DeleteAll" class="btn btn-default"/> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
