@model GVB.Models.ExportDateRange
@{
    ViewBag.Title = "Export Data";
}

<br />
<br />
<br />
        <h3>@Html.ActionLink("Export Data", "ExportData", "User", null, new { @class = "btn btn-info btn-large" })</h3>
<br />
<br />
<br />


