body {
    padding-top: 35px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.login-title {
    color: #888888;
    font-size: 20px;
}

.navbar-title {
    color: #888888;
    font-size: 20px;
}

    .navbar-title:hover {
        color: #444444;
        text-decoration: none;
    }

.navbar-item {
    color: #777777;
    font-size: 14px;
    padding-left: 25px;
}

    .navbar-item:hover {
        color: #444444;
        text-decoration: none;
    }

.login-text {
    color: #555555;
    padding-top: 20px;
}

.btn-login {
    width: 150px;
    left: 50%;
}

.login-credentials {
    text-align: center;
}

.login-center {
    margin: auto;
}

.navbar {
    background-color: #efefef;
}
